####################################
### server configuration
####################################
.env
/data

####################################
### launcher
####################################
__pycache__/


####################################
### Elastic Stack
####################################
/elk/logstash_ingest_data